body { 
  margin: 0;
  position: relative; 
}
.navbar-brand{
  color: #c7c7c8;
  font-family: 'Raleway', sans-serif;
}
.searchbox{
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 5px 0;
}
.rt-6{
  position: relative;
  top: 6px;
  left: 7px;
 
}
.badge a{
  color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.badge-purple{
  background-color: #a228a7;
}
.badge-lgreen{
  background-color: #79a728
}
.input_reddit{
  position: relative;
  left: -14px;
  background: #272727!important;
  padding: 3px;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
.feed-body:hover{
   cursor: pointer;
}
.date{
  position: absolute;
   right: 61px;
   bottom: 7px;
}
/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
select.custom-select.custom-select-sm{
  margin-left: 10px;
  color: #bababa;
  border: 1px solid #272727;
}
.custom-select:focus {
    border-color: #bababa;
    outline: 0;
    box-shadow: none;
}
.f-14{
  font-size: 14px;
}
.pl-17{
  padding-left: 10px;
}
.close{
 color: #c7c7c8;
 text-shadow: none;
 transition: .3s;
}
.close:focus, .close:hover{
  text-shadow: none;
  color: #c7c7c8!important;
}
.animation{
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.section{
    border-left-color: #0e0e0e!important;
    border-right-color: #0e0e0e!important;
    border-top-color: #0e0e0e!important;
}
.color-bg2{
   background-color: #181818!important;
}
.color-bg{
     background-color: #272727!important;
     background-size: cover;
     height: 100vh;
}
.color-grey{
  #c7c7c8
}
.color-white{
  color: #fff!important;
}
.c-purple{
  background-color: #a228a7!important;
}
.c-red{
   background-color: #df0303!important;
}
.c-yellow{
  background-color: #ffc107!important;]
}
.c-green{
   background-color: #79a728!important;
}
.c-pest{
   background-color: #117a8b!important;
}
.c-lywllow{
  background-color: #baae91!important;
}
.c-sweet{
  background-color: #FFC0CB!important;
}
.c-gold{
  background-color: #A0522D!important;
}
.tc-gold{
  color: #A0522D!important;
}
.tc-purple{
  color: #a228a7!important;
}
.tc-red{
   color: #df0303!important;
}
.tc-yellow{
 color: #ffc107!important;]
}
.tc-green{
   color: #79a728!important;
}
.tc-pest{
   color: #117a8b!important;
}
.tc-lywllow{
  color: #baae91!important;
}
.tc-sweet{
  color: #FFC0CB!important;
}

.f-18{
  font-size: 18px;
}
.f-16{
  font-size: 16px;
}
.f-14{
  font-size: 16px;
}
.color-l-white{
  color: #c7c7c8;
}
.m-bottom-icon{
  color: #bababa;
    font-size: 14px;
    margin-left: 13px;
}
.color-l-bg{
    background-color: #0e0e0e!important;
    color: #ff;
}
.top-header{
   background-color: #0e0e0e!important;
   position: relative;
   top:-30px;
}
.skew-style{
   background-color: #272727!important;
   color: #bababa;
   margin-left: 5px;
   font-size: 14px;
       position: relative;
    top: 2px;
}
.mail-icon{
      /* background: #488FFF; */
      font-size: 14px;
      color: #fff;
      padding: 4px;
}
.special-txt{
    font-size: 12px!important;
    color: #018ed4!important;
    padding: 6px 8px!important;
    text-transform: uppercase;
    font-weight: 700;
  }
  .dot{
        display: inline-block;
        width: 9px;
        height: 9px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        margin-right: 7px;
        border: 0!important;
        padding: 0!important;
        position: relative;
        background-color: rgb(249, 227, 7);
  }
.right-b-t{
    position: absolute;
    right: 0;
    bottom: 0;
}
.skew-style:before{
    border-top-right-radius: 3px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: " ";
    display: block;
    height: 29px;
    position: absolute;
    left: 68px;
    top: -1px;
    width: 15px;
    background-color: #272727!important;
    -webkit-transform: skewX(18deg);
    -moz-transform: skewX(18deg);
    -ms-transform: skewX(18deg);
    transform: skewX(18deg);
}
.color-b{
  color: #008ddd!important;
 } 
 .c-para{
    color: #fff;
    margin: 0 6px;
    white-space: nowrap;
 }
 .colo-b-f{
    color: #018ed4;
 }
.color-g{
  color: #a9a9a9!important;
} 
.color-gl{
    color: #d3d3d3;
}  
.panel{
    padding: 7px;
   /* border: 1px solid #2d2d2d;*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
input[id='c-field']{
    border: 0;
    outline: 0;
    background-color: #0e0e0e!important;
    padding: 4px;
    color: #bababa;
    width: 100%;
}
.col-form-label{
    color: #a9a9a9!important;
}
.form-control{
  background-color: #272727!important;
   border: 0px;
   color: #d3d3d3;
}
.form-control:focus {
   background-color: #272727!important;
   border: 0px;
   color: #d3d3d3;
}
.folder-active {
    z-index: 2;
    background-color: transparent;
    border-color: #007bff;
    color: #018ed4;
    border: 0px;
    font-size: 76%;
    padding-left: 10px;
    line-height: 26px;
    font-weight: 700;
}
.list-group-item:hover{
    background-color: #202225!important;
}
.p-info-h{
    display: inline-block;
    padding: 4px 4px 0;
    line-height: 22px;
}
.p-info-des{
    padding: 0 4px;
    display: inline-block!important;
    
}
.btn-blue{
    background-color: #008ddd!important;
    color: #fff;
    display: block;
    height: 30px;
    width: 100%;
    padding: 2px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.white-t{
    color: #fff!important;
}
.side-menu-h{
    color: #018ed4;
}
.side-menu-n{
    background-color: #c7c7c8;
    line-height: 28px;
    padding-left: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.btn-blue:hover {
    color: #fff;
    background-color: #008ddd;
    border-color: #545b62;
    opacity: .9;
}
.btn-blue:focus{
    box-shadow: none!important;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0px;
    background: #272727!important;
}
.dropdown-toggle::after{
    position: relative;
    left: 0px;
    color: #fff;
    transform: rotate(90deg);
}

.modal-backdrop{
    background-color: transparent;
}

button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split{
    padding: 0px 1.0rem;
    background-color: #208aed;
    border: none;
}
.main{
  height: 100vh;
}
.bg-b{
    padding: 0px .5rem;
    background-color: #272727;
    color: #bababa;
}
.dropdown-menu.show{
    background: #272727;
    position: absolute;
    transform: translate3d(0px, 35px, 0px)!important;
    top: 0px;
    left: 0px;
    will-change: transform;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.5);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,.5);
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
}
.dropdown-item{
    color: #c7c7c8;
    padding: .25rem 2.7rem;
    font-size: 14px;
}
.btn-send{
        padding: 4px 7px;
        height: 35px;
        border-color: #008ddd;
        border-color: #008ddd;
        margin-left: -4px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #272727;
}

.list-group{
    background: #181818!important;
    color: #c7c7c8;
}
.list-group-item{
    background: none;
}

.table-content{
  height: auto;
  color: #bababa;
  /* display: table-cell; */
}
.table-content i{
    width: 20px;
}
.table-content:hover{
    background-color: #1d1d1d;
    opacity: .8;
}
.table-content .name-content{
    display: table-cell;
    width: 100%;
}
.name-content span{
    overflow: hidden;
    text-overflow: ellipsis;
}
.total-content{
    white-space: nowrap;
    overflow: hidden;
    line-height: 18px;
    text-overflow: ellipsis;
    position: relative;
    color: #fff;
}
.date{
    width: 105px;
    color: #878787;
    font-size: 72%;
    float: right;
    overflow: hidden;
    padding-top: 3px;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}


.main  a.list-group-item{
   color: #c7c7c8;
   border: 0px;
   padding: 6px 20px;
   /* border-radius: .25rem; */
   em; */
}
.post-content .list-group-item:hover{
    background-color: #1d1d1d!important;
}
.post-content .list-group-item .content_icons .fas{
    visibility: hidden;
    margin-left: 4px;
    color: #6e6e6e;
    /* position: absolute; */
    /* bottom: 0px; */
}
.post-content .list-group-item:hover .content_icons .fas{
    visibility: visible;
    font-size: 12px;
}
.post-content .list-group-item .content_icons .fas:hover{
   color: #AEAEAE;
}
.post-content a.list-group-item{
      border-bottom: #333 1px solid;
      border-top: #333 1px solid;
      border-radius: 0px;
}
.post-content .list-group-item{
    background-color: #272727!important;
    transition: .3s;
}


.sp-padd{
     padding: 0px 16px;
     font-size: 14px;
     height: 100%;
}
.main .list-group-item.active{
    background-color: #202225!important;
    border: 0px;
    /* padding-left: 15px; */
    color: #c7c7c8;
}



/*

*/
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.scrollbar
{
  margin-left: 3px;
  float: left;
  overflow-y: scroll;

}

.force-overflow
{
  min-height: 800px;
}

/*body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    background: #272727!important;
}
 
body::-webkit-scrollbar-thumb {
  background: #272727!important;
  outline: 1px solid slategrey;
}
*/
.scrollable-panel{
      height: auto;
      overflow-y: scroll;
      }
.top{

            height: 30px;
}
.modal.right .modal-dialog {
        position: fixed;
        margin-right: 20px;
        width: 620px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
        right: 400px;
    }
        .modal.right .modal-content {
        height: 100%;
        overflow-y: scroll;
        position: fixed;

        background-color: #272727;
        -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
        -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
        box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
        border: 0px;
        top: 1px;
         border-radius: 0px;
    }

        .modal.right.fade .modal-dialog {
         right: 0px;
         -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
         -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
         transition: opacity 0.3s linear, right 0.3s ease-out;
    }


    .modal.right.fade.in .modal-dialog {
        right: 0;
    }
.modal-dialog{
    margin-top: 55px;
}

.ck.ck-editor__main>.ck-editor__editable{
  background-color: #0e0e0e!important;
  color: #c7c7c8;
  height: 100vw;
  border: none;
}
.ck.ck-button:not(.ck-disabled):active, a.ck.ck-button:not(.ck-disabled):active {
    background: var(--ck-color-button-default-active-background);
    box-shadow: inset 0 2px 2px var(--ck-color-button-default-active-shadow);
}
button.ck.ck-button.ck-off {
    color: #fff;
}

.ck.ck-toolbar{
   background: #2d2d2d!important;
   border: none!important;
 
}
.feed-body:hover{
  
}
.ui.selection.visible.dropdown>.text:not(.default){
  color: #fff;
}
.ui.fluid.search.selection.dropdown{
      background-color: #0e0e0e!important;
        color: #fff;
}
.ui.fluid.search.selection.dropdown.active.visible{
      background-color: #0e0e0e!important;
}
.ql-editor{
    box-shadow: none!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #fff!important;
}
.ql-toolbar.ql-snow{
  background: #000;
}

.ui.selection.dropdown .menu>.item{
  background: #000;
  color: #fff;
}
 .ql-editor p{
    color: #fff!important;
 }
.ql-editor:focus {
  box-shadow: none!important;
    border-width: 2px!important;
    border-style: solid!important;
    border-color: #6cb5f9!important;
    border-image: initial!important;
}


/*toggle button*/
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 19px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  /* left: 2px; */
  margin-left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.super_text{
  position: relative;
  left: -29px;
  top: -7px;
  border: 2px solid #181818;
  padding: 6px 8px;
  height: 35px;
  font-size: 14px;
}
.opss_section{
       max-width: 90%;
    margin:  auto ;
   padding: 220px 0px 200px;
}

.super_text_label{
      position: relative;
    top: -13px;
    left: -1px;
  /* margin-right: 0px; */
}

.master_text{
  margin-bottom: .8rem;
}
input:checked + .slider {
  /*background-color: #2196F3;*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}




@media (min-width: 992px){
  .c-left-15{
     margin-left: 15.8%!important;
     max-width: 84.2%!important;
     flex: 0 0 84.2%!important;
    }
 .main .c1{
  max-width: 16%!important;
  flex: 0 0 16%!important;
  height: 100%;
 }
 .main .c2{
   max-width: 84%!important;
   flex: 0 0 84%!important;
 }

}
@media (min-width: 576px){

.modal-dialog {
    max-width: 100%;
}
}

@media(max-width: 992px){
    .modal.right .modal-dialog{
        width: 100%;
    }
}